* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400, 600;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    height: 100%;
    /* border: 1px black solid; */
  }

  .row{
      width: 90%;
      margin: 0 auto;
      height: auto;
    
  }

  .row::after{
    content: "";
    display: table;
    clear: both;
  }

  
  button{
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    outline: none;
  }
  button:hover{
    cursor: pointer;
  }

  .mac{
    background-color:  hsl(233, 100%, 69%);
  }
  .ios{
    background-color: hsl(171, 66%, 44%);
  }
  .introduction{
      background-image: url("../images/bg-header-desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      text-align: center;
  }
  .introduction img{
      position: relative;
      top: 150px;
  }
  .intro-content{
    text-align: center;
  }
  
  .first-button{
      text-align: right;
  }

  .keeping-track{
    margin-top: 80px;
  }

  .keeping-track img{
      position: relative;
      left: -120px;
      width: 100%;
      
  }
  .snippet{
    text-align: center;
  }
  .tracked-snippets{
    text-align: left;
  }
 
  .access{
    margin-top: 80px;
    text-align: center;
  }
  .access img{
    width: 100%;
  }

  .work{
    margin: 80px 0;
    text-align: center;
  }

  .details,.details2{
    height: 200px;
    text-align: center;
  
  }


  .logo .col-12{
    margin-top: 80px;
  }
  .logo ul li{ 
    position: relative;
    left: 50px;
    display: inline-block;
    padding: 30px;
  }



  footer {
    margin-top: 80px;
    background-color:#dbdad7;
    height: auto;
    
  }

  .footer ul li{
    list-style: none;
    padding: 8px;
  }

  .footer  li:hover{
    cursor: pointer;
    color: hsl(171, 66%, 44%);
  }

  .icons ul li{
    position: relative;
    display: inline-block;
    text-align: center;
    left:40px;
    
  }

  .footer-logo{
    position: relative;
    top: 40px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
  }

  ion-icon {
    font-size: 32px;
    color: #73716d;
  }

  ion-icon:hover{
    fill: hsl(171, 66%, 44%);
  }



  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }


  /* media querries */
  @media only screen and (min-width: 320px) and (max-width: 425px){
    [class*="col-"] {
      width: 100%;
      padding: 0;
    
    }
    
    body{
      text-align: center;
     
    }

    p{
       font-size: 16px;
    }

    .keeping-track img{
      position: relative;
      left: 0;
      width: 100%;
      
  }
  
  .track{
    text-align: center;
  }

  .introduction{
    background-image: none;
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .first-button{
    text-align: center;
    margin: 20px 0 ;
    
  }
   .ios,.mac{
     padding: 15px 80px;
   }

   .intro-content h1{
     font-size: 35px;
   }
   .keeping-track p{
     font-size: 16px;
   }
   .snipps{
     text-align: center;
   }
   .logo ul {
     padding: 0;
   }
   .logo ul li{ 
    position: relative;
    left: 0;
    display: inline-block;
    padding: 30px;
  }
   .log{
    height: 120px;
  }
  .footer-logo{
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-size: 23%;
  }
  footer ul{
    padding: 0;
  }

  .icons ul li{
    position: relative;
    left:0;
    
  }
  }

  @media (width:768px){
    /* [class*="col-"] {
      width: 100%;
      padding: 0;
    
    } */

    footer .col-3,.col-2{
      width: 100%;
      text-align: center;
    }
    footer ul{
      padding: 0;
      
    }

    .footer li{
      margin-top: 50px;
    }
  
    .icons ul li{
      position: relative;
      left:0;
      
    }
    .log{
      height: 120px;
      
    }
    
  }